<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phonetact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <action android:name="android.intent.action.SEND" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".phonetact.Application.myApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

            <!-- <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>-->

        <activity
            android:name=".phonetact.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phonetact.activities.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".phonetact.activities.ValidateCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Mystyle" >
        </activity>
        <activity
            android:name=".phonetact.activities.SetDataUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Mystyle" >
        </activity>
        <activity
            android:name=".phonetact.activities.ChooseCityActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Mystyle" >
        </activity>
        <activity
            android:name=".phonetact.activities.Dashbord_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Mystyle" >

        </activity>
        <activity
            android:name=".phonetact.activities.ChooceChanelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Mystyle" >
        </activity>


        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />
    </application>

</manifest>
